@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-color: #37004e;
  --second-color-dark-background: #00f2b1;
  --second-color-light-background: #00cd98;
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

/*=============== REUSABLE ===============*/

.page_content {
  padding: 4rem 0 2rem 0;
}

.avatar__img {
  display: block;
  margin: 0 auto;
  width: 150px;
}

/*=============== SIGN UP PAGE ===============*/

.signup__container {
  align-items: center;
  column-gap: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0 2rem 0;
}

.signup__title {
  font-size: 2rem;
  text-align: center;
}

.signup__failed {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.signup__successful {
  color: green;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.signup__submit_btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2rem;
  height: 50px;
  margin: 1rem 0;
  outline: none;
  width: 300px;
}

/*=============== EDIT USER PAGE ===============*/

.edituser__container {
  align-items: center;
  column-gap: 7rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding: 6rem 0 2rem 0;
}

.edituser__title {
  font-size: 2rem;
  text-align: center;
}

.edituser__failed {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.edituser__btn_div {
  display: flex;
  column-gap: 1.5rem;
}

.edituser__cancel_btn {
  background-color: #fff;
  border: solid 2px var(--main-color);
  border-radius: 25px;
  color: var(--main-color);
  font-size: 1.2rem;
  height: 50px;
  margin: 1rem 0;
  outline: none;
  width: 200px;
}

.edituser__submit_btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.2rem;
  height: 50px;
  margin: 1rem 0;
  outline: none;
  width: 200px;
}

/*=============== USER PAGE ===============*/

.users__container {
  align-items: center;
  column-gap: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0 0;
}

.users__title {
  font-size: 2rem;
  text-align: center;
}

.users__subtitle {
  font-size: 1rem;
  color: #525252;
  text-align: center;
}

/*=============== NOT FOUND PAGE ===============*/

.notfound__img {
  display: block;
  margin: 8rem auto;
  width: 500px;
}

/*=============== FORMS COMPONENT ===============*/

form {
  width: 450px;
}

.forms__input_div {
  border-bottom: 2px solid #bebebe;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  position: relative;
}

.forms__input_title {
  align-items: center;
  color: #bebebe;
  column-gap: 0.25rem;
  display: flex;
  font-size: 1rem;
}

.forms__icon {
  color: #bebebe;
}

.forms__input {
  background: none;
  border: none;
  font-size: 1rem;
  height: 2rem;
  outline: none;
  padding: 0 0.5rem;
  width: 400px;
}

/*=============== FILTERS COMPONENT ===============*/

.filters__content {
  display: flex;
  column-gap: 2rem;
}

.filters__input_div {
  border-bottom: 2px solid #bebebe;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  position: relative;
}

.filters__input_title {
  align-items: center;
  color: #bebebe;
  column-gap: 0.25rem;
  display: flex;
  font-size: 1rem;
}

.filters__icon {
  color: #bebebe;
}

.filters__input {
  background: none;
  border: none;
  font-size: 1rem;
  height: 2rem;
  outline: none;
  padding: 0 0.5rem;
  width: 400px;
}

/*=============== USER TABLE COMPONENT ===============*/

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  margin-bottom: 2rem;
  overflow: hidden;
  text-align: center;
  width: 1400px;
}

thead {
  box-shadow: 0 5px 10px #e1e5ee;
}

th {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

td {
  font-size: 1rem;
  padding: 1rem 2rem;
}

tr:nth-child(even) {
  background-color: #f4f6fb;
}

.table__edit_icon {
  font-size: 1.5rem;
}

.table__edit_icon:hover {
  color: var(--second-color-light-background);
  cursor: pointer;
}

.table__delete_icon {
  font-size: 1.5rem;
}

.table__delete_icon:hover {
  color: var(--second-color-light-background);
  cursor: pointer;
}

/*=============== TABLE BUTTONS COMPONENT ===============*/

.tablebtns__content {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.tablebtns__btns {
  column-gap: 1rem;
  display: flex;
}

.tablebtns__previous {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  width: 100px;
}

.tablebtns__previous:disabled {
  background-color: #bebebe;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: not-allowed;
  font-size: 1rem;
  outline: none;
  height: 35px;
  width: 100px;
}

.tablebtns__next {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  height: 35px;
  width: 100px;
}

.tablebtns__next:disabled {
  background-color: #bebebe;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: not-allowed;
  font-size: 1rem;
  outline: none;
  height: 35px;
  width: 100px;
}

/*=============== HEADER COMPONENT ===============*/

.header {
  background-color: var(--main-color);
  box-shadow: 0 5px 10px #e1e5ee;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.header__nav {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.header__nav_list {
  column-gap: 2rem;
  display: flex;
  list-style-type: none;
}

.header__page_name {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

.header__page_name:hover {
  color: var(--second-color-dark-background);
  cursor: pointer;
}
